<h1>New Bschool_app</h1>

<% form_for(@bschool_app) do |f| %>
  <%= f.error_messages %>

<fieldset>
  <legend>Bschool_app</legend>
  <%= render :partial => "form", :locals=>{ :f => f } %>
</fieldset>

  <fieldset class="button_holder">
    <%= f.submit "Create" %>
  </fieldset>
<% end %>

<div class="bottom_nav">
<%= link_to 'Back', bschool_apps_path %>
</div>